# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
flask_app/
venv/
env/
ENV/

# Database / Sensitive Info
.env
instance/
*.db
*.sqlite

# OS-specific files
.DS_Store
Thumbs.db